[submodule "ros_babel_fish"]
	path = ros_babel_fish
	url = https://github.com/LOEWE-emergenCITY/ros_babel_fish.git
[submodule "hand_eye_calibration/externals/sanitizers-cmake"]
	path = hand_eye_calibration/externals/sanitizers-cmake
	url = git@github.com:arsenm/sanitizers-cmake.git
